<html>
<head>
    <meta charset="utf-8">
    <title>capstone design2</title> 
</head>

<body>
    <h1>mobility map</h1>
    <h3>⌚공공자전거 예측 정보</h3>
    
    <div>
        <p><%= id %> 대여소</p>
        <h4><%= hour %> 시간 뒤 잔여 예측량 : <%= result %> 대</h4>
    </div>
    <p><a href="/predict">↩이전으로</a></p>

</body>
</html>